body {
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FFC72C;/*#004F9F; /* UCI Blue background color */

}

main {
    padding: 20px;
    color: #FFFFFF; /* White text color */
}

table {
  padding: 10px;
  border-collapse: collapse;
  width: 10px;
  text-align: left;
  border-radius: 5px;
}

td, th {
  border: none;
  padding: 20px;
  border-spacing: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

.border {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 10px solid #FFC72C;
    border-radius: 10px;
    border-style: solid;
}

hr {
    height:5px;
    border-width:0;
    background-color:#00A4BD;
  }

header {
    background-color: #FFC72C; /* UCI Yellow header background color */
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  header h1{
    color: #212A3F;
    font-size: 45px;2
  }
  header p{
    color: #434F5B;
  }
  #topnav{
    font-family: 'Dancing Script', cursive;
    background-color: #434F5B;
    font-size: 30px;
    text-transform: lowercase;
    width: 415px;
    margin: 0 auto;
  }
  #topnav ul{
    padding: 20px 15px;
    margin: 0px;
    text-align: center;
  }
  #topnav ul li{
    list-style-type: none;
    display: inline;
  }
  #topnav ul li a{
    color: #F2F2F2;
    text-decoration: none;
    margin: 0px 5px;
    padding: 5px;
  }
  #topnav ul li a:hover{
    border-bottom: 3px solid #F2F2F2;
    transition: 50ms linear 0s;
    -moz-transition: 50ms linear 0s;
    -webkit-transition: 50ms linear 0s;
  }
  #content{
    font-family: 'Lora', serif;
  }
  #content h1, h2, h3, h4, h5, h6{
    color: #212A3F;
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }


.container {
    text-align: center;
    margin-top: 20px;
}
    
.form-group {
    display: grid;
    place-content: center;
}

.input-group {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radio-group label {
    margin-right: 5px;
}
  
  th, td {
    padding: 20px;
    text-align: middle;
    border-bottom: none;
  }
  
  th {
    background-color: #f2f2f2;
  }

button {
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submit-button {
    padding: 10px 20px;
    margin-top: 20px;
}

.evaluate-button {
    padding: 10px 20px;
    margin-top: 20px;
}

.course-code-row {
    align-items: center;
    margin-bottom: 5px;
}

.course-code-row span {
    margin-right: 5px;
    font-weight: bold;
}

#ratingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

footer {
    background-color: #FFFFFF; /* White footer background color */
    padding: 20px;
    text-align: center;
    color: #000000; /* Black text color */
}